In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("Data/Citywide_Payroll_Data__Fiscal_Year_.csv")
data.head()

C:\Users\lzhao\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0

In [5]:
data.shape

(4496767, 17)

In [7]:
data.sort_values("Base Salary", ascending=False).head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
534088,2020,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,per Annum,1540.0,346546.21,0.0,0.0,888.59
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,per Annum,1820.0,413518.05,0.0,0.0,500.00
3923347,2021,742.0,DEPT OF ED PEDAGOGICAL,CARRANZA,RICHARD,A,04/02/2018,MANHATTAN,ASSISTANT SUPERINTENDENT,CEASED,363346.0,per Annum,0.0,272509.56,0.0,0.0,16696.67
3923490,2021,742.0,DEPT OF ED PEDAGOGICAL,ROSS PORTER,MEISHA,S,09/04/2001,MANHATTAN,CHANCELLOR,ACTIVE,363346.0,per Annum,0.0,254354.83,0.0,0.0,-2481.99
157694,2020,742.0,DEPT OF ED PEDAGOGICAL,CARRANZA,RICHARD,A,04/02/2018,MANHATTAN,CHANCELLOR,ACTIVE,363346.0,per Annum,0.0,359818.40,0.0,0.0,205.78